body{
    background-color:rgb(52, 54, 54);
}
/* heading part start */
.head {
    text-align: right;
    width: 1100px;
    margin: auto;
}
.menu ul li{
    display: inline-block;
    font-weight: 800;
    padding: 0 20px;
    font-family: 'Pirata One', cursive;
}
.menu ul li a{
    color: black;
    text-decoration: none;
}
/* heading part end */

/* introduction part start */
.introduction{
    width: 35%;
    margin: 5%;
    float: left;
    padding: 2%;
}
.hello{
    font-size: 45px;
    color: rgb(52, 54, 54)1);
    font-family: 'Staatliches', cursive;
}
.name{
    font-size: 45px;
    color:rgb(252, 144, 132);
    font-family: 'Staatliches', cursive;
}
.myself{
    padding-bottom: 20px;
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
}
.introduction img{
    width: 80%;
}
/* introduction part end */

/* About part Starts */
.introduction h2{
    font-size: 35px;
    font-family: 'Staatliches', cursive;
    
}
.About{
    padding-bottom: 20px;
}
.CV{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 200px;
}
section{
    padding-bottom: 150px;
}
/* About part Ends */

/* below part starts */
.latest{
    text-align: center;
    font-family: 'Staatliches', cursive;
    padding:10px;
    font-size: 15px;
    color:rgb(115, 141, 167);
}
.down{
    color:rgb(252, 144, 132);
}
.image-section{
    width: 20%;
    float: left;
    margin: 5%;
    padding: 1%;
}
.image-section img{
    width:80%;
}
.image-border{
    box-shadow: 10px 10px 40px;
    height: 80%;
    border-radius: 10px;
    margin-left: 5%;
}
.img-box{
    box-shadow: 10px 10px 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* below part starts */


/* Last part starts */


/* Last part starts  */